*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#video-chat-container {
    max-width: 70%;
    margin: 0 auto;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    padding: 10px;
}

#local {
    position: relative;
    max-width: 100%;
    text-align: center;
}

video {
    border-radius: 20px;
}

#local-video {
    height: 500px;
}

#guest {
    display: flex;
    margin-top: 100px;
    gap: 20px;
    overflow-x: auto;
}

#guest video {
    width: 300px;
}
